.Sidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #182026;
}


.tabContainer{
  padding: 10px;
  /*
  background-color: rgb(36, 39, 48);
  */
  height: auto;
  display: block;
  visibility: visible;
}

.tabContainer > div >  .bp3-datepicker {
  width: 230px;
  margin: auto;
}

.tabContainer > div > .bp3-tag {
  text-align: center;
  width: 230px;
  margin: auto;
}

.tabVisible {
  display: none;
  visibility: hidden;
}

h1 {
  font-weight: 100px;
}

.clear{
  clear: both;
}

.space {
  margin-bottom: 10px;
  padding-top: 10px;
}

.rect {
  border-radius: 0px;
  margin: 20px 0px;
}

.dividerBorder {
  padding: 0px;
  margin: 0px 0px;
  border-bottom: 1px solid #3A414C;
}


.centerOverlay{
  width: 400px;
  top: 0px;
  margin-top: 10vh;
  left: calc(-200px + 50%);
}

.filter-item-contanier {
  width: 100%;
  padding:10px 0px;
  height: 100px;
  background: #182026;
}


.filter-trigger-button {
  width: 100%;
  height: auto;
  padding: 8px 4px;
  border-radius: 5px;
  background: #ff88aa;
}

.margin-top{
  margin-top: 10px;
}


.float-left-top{
  margin-bottom: 20px;
}

.range-slider-style{
  padding: 5px;
}
