.firstColumn{
  left: 0%;
  float:left;
  min-width: 240px;
  max-width: 320px;
  width: 30vw;
  height: 100vh;
  position: relative;
}

.secondColumn{
  width:auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
